*.pyc
dist
src/CategorizerAI.egg-info/
build
*.bak
categorizerai.compiled
categorizerai.consistency.stderr
categorizerai.consistencycheck
categorizerai.docbook
categorizerai.html
categorizerai.objlist
categorizerai.objlist.html
categorizerai.pdf
categorizerai.pics/
categorizerai.rich
categorizerai.richescape
categorizerai.tabled.docbook
categorizerai.tabled.html
categorizerai/
inputs/
